{% extends 'base.html' %}

{% block title %}请确定{% endblock %}

{% block content %}
<body>
    <div>
        <div>
            <h2>没找到：{{ plate }} 或者这个板块下没有任何种类</h2>
            <h3>你可以添加这个板块：{{ plate }} </h3>
                <a type="button" class="btn btn-danger" href="{% url 'addplate' %}">添加{{ plate }}</a>
                <a type="button" class="btn btn-danger" href="{% url 'type' %}">添加这个板块下的一个种类</a>
                <a type="button" class="btn btn-warning" href="{% url 'notice' %}">返回添加通知</a>
                <a type="button" class="btn btn-primary"  href="{% url 'list' %}">返回首页</a>
            
        </div>
    </div>

{% endblock %}